/* Header */
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 45px;
  padding: 0 80px;
  @media (max-width: 800px) {
    .personal-links {
      display: none;
    }
  }
}

.shop-container {
  @media (max-width: 800px) {
    display: none;
  }
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  font-size: 12px;
}
/* Header */

/* Shop links */
.shop {
  ul {
    list-style-type: none;
    margin: 0;
  }

  li {
    display: inline;
    font-size: 12px;
  }

  a:hover {
    color: blue;
    text-decoration: underline;
  }

  .line {
    border-left: 1px solid black;
    height: 10px;
  }

}
/* Shop links */

/* Logo */
.logo {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  .personal-links a {
    font-size: 12px;
  }

  .three-logo {
    height: 30px;
    width: 50px;
  }
}
/* Logo */
